body{
	background-color: white;
}

.wrapper{
	padding: 40px;


	.skateboard{
		background-color: black;
	}
}

h3{
	margin-top: 10%;
	margin-left: 30%;
	color: #4FB6BF;
}

.money-info{
	margin-top: 10%;
	color: #4FB6BF;
	h4{

	}
	span{
		float: right;
	}
}

.line{
	background-color: #4FB6BF;
	height: 2px;
	margin-bottom: 3%;
	margin-top: 3%;
}


// button {
// 			background-color: #4EB6BF;
// 			border: none;
// 			color: white;
// 			padding: 12px;
// 			width: 50%;
// 			text-align: center;
// 			text-decoration: none;
// 			font-size: 18px;
// 			text-transform: uppercase;
// 			border-radius: 8px;
// 			cursor: pointer;
// 			margin-left: 20%;
// 			margin-top: 10%;
// 		}