body{
	background-color: white;
}

.wrapper{
	padding: 40px;

.main-checkout{
	.sb-logo{
		width: 20%;
		position: absolute;
		left: 40%;
		top: 5%;
	}

	h1{
		position: absolute;
		top: 20%;
		left: 25%;
		font-size: 1em;

		span{
			font-weight: bold;
		}
	}

	h2{
		position: absolute;
		top: 25%;
		left: 37%;
		font-weight: bold;
		font-size: 1.5em;
	}
}

	.skateboard{
		background-color: black;
		margin-top: 50%;
	}
}

h3{
	margin-top: 10%;
	margin-left: 15%;
	color: #4FB6BF;
	font-weight: bold;
	font-size: 1.5em;
}

.money-info{
	margin-top: 10%;
	color: #4FB6BF;
	h4{

	}
	span{
		float: right;
	}
}

.line{
	background-color: #4FB6BF;
	height: 2px;
	margin-bottom: 3%;
	margin-top: 3%;
}


// button {
// 			background-color: #4EB6BF;
// 			border: none;
// 			color: white;
// 			padding: 12px;
// 			width: 50%;
// 			text-align: center;
// 			text-decoration: none;
// 			font-size: 18px;
// 			text-transform: uppercase;
// 			border-radius: 8px;
// 			cursor: pointer;
// 			margin-left: 20%;
// 			margin-top: 10%;
// 		}