body{
	background-color: white;
}


	.main-checkout{
		.sb-logo{
			width: 30%;
			position: absolute;
			left: 40%;
			top: 5%;
			margin-right: 20%;
		}

		h1{
			color: #707070;
			font-size: 1.5em;
			text-transform: uppercase;
			margin-top: 10%;
			text-align: center;
			@media screen and (min-width: 728px){
				margin-top: 5%;
			}
		}

		.breadcrumbs{
			display: block;
			color: #707070;
			align-self: flex-start; 
			margin-top: 25%;
			@media screen and (min-width: 728px){
				margin-top: 3%;
			}

			@media screen and (min-width: 728px){
				font-size: 1em;
			}

			span{
				font-weight: bold;
			}

			a{
				color: #707070;
				text-decoration: none;
			}
		}

		
	} //main checkout


.checkout-info{
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 728px){
		display: flex;
		flex-direction: row;
	}
	.skateboard{
	
		.brown-w-brown{
			width: 80%;
			@media screen and (min-width: 728px){
				width: 60%;
				margin-left: 38%;
				margin-top: 10%;
			}
		}
	} //skateboard

	.money-info{
		margin-top: 10%;
		color: #4FB6BF;
		display: flex;
		flex-direction: column;
		
	.cost-item-container{
		display: flex;
		width: 100%;
		justify-content: space-between;

			}
		
		@media screen and (min-width: 728px){
			margin-top: 0%;
			margin-right: 10%;
			width: 400px;
			


		}
			h3{
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 5%;
			font-size: 1.5em;
			@media screen and (min-width: 728px){
				font-size: .8em;
			}


			}
			span{
				float: right; 
				@media screen and (min-width: 728px){
					margin-top: 2%;
				}

			}

			h4{
				font-size: 1.2em;
				@media screen and (min-width: 728px){
					font-size: 1em;
				}
			}
		
		.line{
			background-color: #4FB6BF;
			height: 2px;
			margin-bottom: 3%;
			margin-top: 3%;
		}

		.btn{
			padding: 15px;
		    border-radius: 25px;
		    color: white;
		    background-color: #4EB6BF;
		    font-weight: bold;
		    text-transform: uppercase;
		    text-align: center;
		    text-decoration: none;
		    margin-left: 40%;
		    margin-top: 10%;
		    @media screen and (min-width: 728px){
		    	margin-top: 10%;
		    	width: 65%;
		    }
		}
	}   //money-info

} //checkout-info










// button {
// 			background-color: #4EB6BF;
// 			border: none;
// 			color: white;
// 			padding: 12px;
// 			width: 50%;
// 			text-align: center;
// 			text-decoration: none;
// 			font-size: 18px;
// 			text-transform: uppercase;
// 			border-radius: 8px;
// 			cursor: pointer;
// 			margin-left: 20%;
// 			margin-top: 10%;
// 		}