.wrapper-wheels{
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 728px){
		flex-direction: row;
	}
	
	.selected{
		transform: scale(1.5);
	}

	ul{
		display: flex;
		margin-top: 10%;

	}
	#deck-for-wheels{
		width: 120%;
		@media screen and (min-width: 728px){
			width: 30%;
			transform: rotate(345deg);
		}
	}


	.purple-wheel{
		width: 60%;
		transition: .5s;
		@media screen and (min-width: 728px){
			transition: .5s;
			width: 60%;
		}
	}



	.pink-wheel{
		width: 60%;
		transition: .5s;
		@media screen and (min-width: 728px){
			transition: .5s;
			width: 60%;
		}
	}

	.brown-wheel{
		width: 60%;
		transition: .5s;
		@media screen and (min-width: 728px){
			transition: .5s;
		}
	}


	


	.btn-review {
	 	padding: 15px;
	    border-radius: 10px;
	    color: white;
	    background-color: #4EB6BF;
	    font-weight: bold;
	    font-size: 1em;
	    text-transform: uppercase;
	    text-align: center;
	    text-decoration: none;
	    width: 30%;
	    align-self: flex-end;
	    margin-top: 10%;
	} 
}







// .brown-wheels{
// 	position: relative;
// 	.brown-deck-wheels{
// 		width: 120%;
// 	}
// }

// .wheels{

// 	.purple-wheel{
// 		width: 20%;
// 	}
// }